
.footer{
    background-color: rgb(56, 2, 56);
    background-image: url(./images/bg.svg);
    background-position: center;
    width:100%;
    bottom:0px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    color: white;
    
}

p{
    text-align: center;
    padding: 5px;
    font-size: 14px;
}
